:root {
    --bg: #f6f7fb;
    --card: #ffffff;
    --text: #1f2937;
    --muted: #6b7280;
    --brand: #111827;
    --ring: rgba(0, 0, 0, 0.08);
    --danger: #e53935;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, var(--bg), #e5e7eb);
    color: var(--text);
}

/* Card */
.auth-card {
    width: 380px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: .2px;
    width: 150px;
    border: 2px solid var(--brand);
    border-radius: 8px;
    margin: auto;
}

/* Tabs */
.tabs {
    display: flex;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.tab {
    flex: 1;
    text-align: center;
    padding: 0.75rem;
    cursor: pointer;
    font-weight: 600;
    color: var(--brand);
    transition: color 0.3s;
}

.tab.active {
    color: var(--danger);
    border-bottom: 2px solid var(--muted);
    ;
}

/* Forms */
form {
    display: none;
    flex-direction: column;
    gap: 1rem;
}

form.active {
    display: flex;
}

input {
    padding: 0.9rem 1rem;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: var(--text);
    font-size: 1rem;
    border: 1px solid var(--muted);
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--text);
}

.btn {
    background: var(--brand);
    border: none;
    border-radius: 8px;
    padding: 0.9rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    color: #ffffff;
}

.btn:hover {
    background: #1f2937;
}

.toggle-msg {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: var(--text);
}

.toggle-msg a {
    color: var(--danger);
    cursor: pointer;
    text-decoration: none;
}